
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');


img {
    width: 75%; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'BhuTuka Expanded One', cursive;
    background-color: var(--coffee);
}
header {
    width: 50vw;
}
main {
    width: 50vw;
    height: 100vh;
    background-image: url(../assets/zem.jpeg);
    background-color: #b2a9a0ff;
    background-size: cover;
}

@media (max-width: 600px) {
    body {
        flex-direction: row;
    }
}